<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Stock Optimizer{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="{{ url_for('create.create_group') }}">Create</a>
    <a href="{{ url_for('groups.all_groups') }}">Groups</a>
    <a href="{{ url_for('calculate.calculate_page') }}">Calculate</a>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}

</body>
</html>